/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Color Palette
btn-blue: rgb(1,96,255)
frst sect: rgb(179,208,231)
designit green: rgb(162,211,155)
asu bordeaux: rgb(97,9,43)
florida: rgb(0,147,206)
topps: rgb(255,27,28)
middle designit: rgb(245,245,245)
world: rgb(213,0,31)
lonely: rgb(14,35,129)
hearst: rgb(179,208,231)
clear:rgb(255,215,47)
*/

/* Generics */

body {
    font-family: 'Open Sans', sans-serif;
}

/* Utilities */

.container {
    width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* # REMOVE */

.left-nav,
.right-nav {
    border: 2px dashed black;
    height: 50px;
    background-color: blueviolet;
}


/* Section Settings */


.aside-text {
    height: 100px;
    width: 30%;
    background-color: green;
    border: 2px dashed black;
}

.section-image {
    height: 100px;
    width: 70%;
    background-color: red;
    border: 2px dashed black;
}



.heading-text {
    justify-content: center;
    border: 2px dashed black;
}

.content {
    justify-content: center;
}


/* Header*/

header {
    justify-content: space-between;
}

/* Jumbotron section
 */

.jumbotron {
    padding-top: 50px;
    height: 300px;
    background-color: rgb(179, 208, 231);
}