/* CSS Reset */

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}


/* Color Palette
btn-blue: rgb(1,96,255)
frst sect: rgb(179,208,231)
designit green: rgb(162,211,155)
asu bordeaux: rgb(97,9,43)
florida: rgb(0,147,206)
topps: rgb(255,27,28)
middle designit: rgb(245,245,245)
world: rgb(213,0,31)
lonely: rgb(14,35,129)
hearst: rgb(179,208,231)
clear:rgb(255,215,47)
*/

/* Generics */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

ul {
    list-style-type: none;
}


h1 {
    font-size: 78px;
    font-weight: 800;
}


h2 {
    font-size: 2rem;
}

/* Utilities */

.container {
    width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* Button Utilities */

.active-btn {
    background-color: rgb(1, 96, 255);
    border: 1px solid transparent;
    color: white;
    padding: 10px 8px;
    margin-top: 15px;
    margin-bottom: 15px;
}


.small-btn {
    padding: 5px 10px;
    margin: 0;
}


.off-btn {
    background-color: transparent;
    border: 1px solid gray;
    color: gray;
    padding: 10px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}


.off-btn,
.small-btn:active {
    box-shadow: 0px 0px 5px gray;
}

.active-btn,
.business-btn:active {
    box-shadow: 0px 0px 5px blue
}

.off-btn,
.small-btn,
.active-btn {
    cursor: pointer;
}

/* Section Settings */

.aside-text {
    width: 30%;

}

.section-image {
    width: 70%;
}

.split-div {
    width: calc(100% / 5);
    height: 300px;

}

.largest-div {
    width: 100%;
    min-height: 300px;
    gap: 20px;
    position: relative;

}


.heading-text {

    padding-bottom: 20px;

}

.content {
    justify-content: center;
}


.business-section {
    padding-top: 80px;
}

.partnership-section {
    padding-top: 80px;

}


/* Header*/

header {
    background-color: #fff;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    font-weight: lighter;
    padding: 10px;
}


.left-nav,
.right-nav {
    padding: 10px;
    height: 50px;
}

.left-nav img {
    max-width: 100%;
}


.nav-list {
    display: inline-block;
    padding-left: 20px;
    vertical-align: middle;
}

.right-header-nav {
    padding-right: 20px;
}


/* Jumbotron section
 */
.jumbotron {
    background-color: rgb(179, 208, 231);
    padding-top: 100px;
}



.jumbo-header img {
    max-width: 100%;
    position: relative;
    bottom: -120px;

}

.aside-header {
    padding-top: 80px;
}

.fa-arrow-down {
    margin-top: 150px;
}

/* Business Choices Section */

.table-content {
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.billing {
    padding-right: 30px;
    vertical-align: middle;
}


.ring {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid black;
    vertical-align: middle;
    margin-right: 5px;
}

.thick-ring {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    border: 5px solid blue;
    vertical-align: middle;
    margin-right: 5px;

}

.table-card {
    width: calc(100% / 3 - 30px);
    min-height: 100px;
    border: 1px solid gray;
    flex-wrap: wrap;
}

.table-card p {
    padding: 10px;
}


.table-card h3 {
    padding-top: 10px;
}

.bottom-card {
    width: 100%;
    min-height: 100px;
    border: 1px solid gray;
    margin-top: 50px;
}


.table-header {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid gray;
}

.table-body {
    padding-top: 10px;
    margin-left: 30px;
    position: relative;
}


.iconic-list {
    padding-top: 40px;

}

.align {
    min-height: 300px;
    padding: 20px;
}

.business-btn {
    background-color: rgb(1, 96, 255);
    border: 1px solid transparent;
    color: white;
    padding: 10px 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.lefted-btn {
    position: absolute;
    top: 0px;
    right: 10px;
}

.solutions-padded {
    padding-top: 50px;
    display: inline-block;
}

.small-separator {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 60px;
    border: 1px solid gray;
}

.big-separator {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 120px;
    border: 1px solid lightgray;
}

.check-ico {
    color: blue;
}


/* Partnership section */

.section-image img {
    max-width: 90%;
    display: block;
}

.partner-text {
    margin-top: 80px;
}


.partner-text p {
    padding-top: 25px;
    padding-bottom: 25px;
}

/* Plan Section */
.fa-ul li {
    padding: 10px
}

.plan-section {
    flex-wrap: wrap;
    padding-top: 80px;
    gap: 20px;
}

.card {
    width: calc(100% / 3 - 20px);
    min-height: 100px;
}

.card img {
    max-width: 100%;
    display: block;
}


.card h3 {
    font-size: 20px;
    padding-bottom: 15px;
}



/* section footer section */
.footer-prop {
    padding-top: 80px;
    padding-bottom: 80px;
}

/* Label Section */

.small-sect {
    width: 50%;
    flex-wrap: wrap;
}

.large-sect {
    width: 50%;
}

.small-content {
    width: calc(100% / 2);
    min-height: 300px;
    background-color: darkcyan;
    align-items: center;
    justify-content: center;
    border: 30px solid transparent;

}

.small-content img {
    max-width: 50%;
    filter: invert(100%) sepia(0%) saturate(7468%) hue-rotate(10deg) brightness(109%) contrast(109%);

}

.large-content img {
    max-width: 50%;
}

.large-content {
    width: 100%;
    height: 100%;
    background-color: rgb(245, 245, 245);
    padding: 50px 50px;
}



.designit {
    background-color: rgb(162, 211, 155);
}


.asu {
    background-color: rgb(97, 9, 43);
}

.florida {
    background-color: rgb(0, 147, 206);
}

.topps {
    background-color:
        rgb(255, 27, 28);
}

.bicycle {
    background-color:
        rgb(213, 0, 31)
}

.hearst {
    background-color: rgb(179, 208, 231);
}


.lonely {
    background-color: rgb(14, 35, 129);
}

.clear {
    background-color: rgb(255, 215, 47);
}


.small-content:hover {
    cursor: pointer;
    border: 30px solid rgba(255, 255, 255, 0.5);
}

/* Company Adv Section */

.company-adv {
    padding-top: 80px;
    background-color: rgb(179, 208, 231);
    min-height: 300px;
}


.section-image h2 {
    font-size: 50px;
    color: rgb(100, 17, 47);
}


.aside-text .off-btn {
    margin-left: 100px;
    background-color: white;
}

/* Faq Section */

.faq {
    padding-top: 80px;
    padding-bottom: 80px
}

.xl-separator {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    border: 1px solid lightgray;
}

.arrow-up,
.answer {
    display: none;
    cursor: pointer;
}

.arrow-up,
.arrow-down {
    padding-left: 200px;
    font-size: 1.5rem;
    font-weight: bolder;
}

.question-wrapper:hover .arrow-down {
    display: none;
}


.question-wrapper:hover .arrow-up {
    display: inline;
}

.question-wrapper:hover .answer {
    display: block;
}


.question {
    font-weight: bolder;
}

/* Main Footer */
.main-footer {
    min-height: 500px;
    background-color: black;
    padding-top: 50px;
}

.split-div {
    color: white;
    padding-left: 30px;
    line-height: 25px;
}

.split-div h3 {
    padding-bottom: 10px;
}

.footer-list a {
    text-decoration: none;
    color: white;
    ;
}


.language-selector {
    color: gray;
}