/* CSS Reset */

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}


/* Color Palette
btn-blue: rgb(1,96,255)
frst sect: rgb(179,208,231)
designit green: rgb(162,211,155)
asu bordeaux: rgb(97,9,43)
florida: rgb(0,147,206)
topps: rgb(255,27,28)
middle designit: rgb(245,245,245)
world: rgb(213,0,31)
lonely: rgb(14,35,129)
hearst: rgb(179,208,231)
clear:rgb(255,215,47)
*/

/* Generics */

body {
    font-family: 'Open Sans', sans-serif;
}


/* Utilities */

.container {
    width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* # REMOVE */

.left-nav,
.right-nav {
    border: 1px dashed black;
    height: 50px;
    background-color: blueviolet;
}


/* Section Settings */

.aside-text {
    height: 100px;
    width: 30%;
    background-color: green;
    border: 1px dashed black;
}

.section-image {
    height: 100px;
    width: 70%;
    background-color: red;
    border: 1px dashed black;
}



.heading-text {
    justify-content: center;
    border: 1px dashed black;
}

.content {
    justify-content: center;
}


.business-section {
    padding-top: 80px;
    background-color: orange;
}

.partnership-section {
    padding-top: 80px;
    background-color: royalblue;
}


/* Header*/

header {
    background-color: cyan;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
}

/* Jumbotron section
 */
.jumbotron {
    padding-top: 50px;
    background-color: yellowgreen;
    position: relative;
}

.bottomize {
    position: relative;
    bottom: -20px;
}

/* Business Choices Section */
.table-content {
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
}


.table-card {
    width: calc(100% / 3 - 10px);
    height: 100px;
    background-color: rosybrown;
    border: 1px dashed black;
}

.table-bottom {
    justify-content: center;
}

.bottom-card {
    width: 100%;
    height: 100px;
    background-color: rebeccapurple;
    border: 1px dashed black;
}

/* Plan Section */


.plan-section {
    background-color: darksalmon;
    flex-wrap: wrap;
    padding-top: 80px;
    gap: 20px;
    justify-content: center;
}

.card {
    width: calc(100% / 3 - 20px);
    height: 100px;
    background-color: navajowhite;
    border: 1px dashed black;
}

/* section footer section */

.section-footer {
    padding-top: 80px;
}

/* Label Section */

.small-sect {
    width: 50%;
    flex-wrap: wrap;
}

.large-sect {
    width: 50%;
}

.small-content {
    width: calc(100% / 2);
    height: 200px;
    background-color: darkcyan;
    border: 1px dashed black;

}

.large-content {
    width: 100%;
    height: 100%;
    border: 1px dashed black;
}